<div class="col-md-12">
  <h1>Top <%= @api.length %> Artist Track</h1>
  <ul class="list-item-1">
    <% @api.each do |track| %>
    <li>
      <%= track['name'] %>
    </li>
    <% end %>
  </ul>
</div>
