<div class="col-md-12">
  <table id="table-artist"></table>
</div>

<script type="text/javascript">
$('#table-artist').bootstrapTable({
  url: "/?dataType=json",
  dataType: 'json',
  sidePagination: 'server',
  pagination: true,
  searchAlign: 'left',
  striped: true,
  pageSize: 5,
  search: true,
  searchOnEnterKey: false,
  showRefresh: false,
  silentSort: true,
  columns: [
    { field: 'name', title: 'Most Popular Artist', align: 'center', formatter: show_thumb },
  ]
});

var $search = $('.fixed-table-toolbar .search input');
$search.attr('placeholder', 'Search by Country');

function show_thumb(value, row, index) {
  return "<a href='"+row.link+"' target='_blank' style='display: block'><img src='"+row.image[1]['#text']+"' /> "+"<h3><b>"+row.name+"</b></h3></a>"
}

function row_number (value, row, index) {
  var table = $('#table-artist').bootstrapTable('getOptions'),
  startNumber = ((table.pageSize * table.pageNumber) + index + 1) - table.pageSize;

  if (table.pageNumber == 1 ) {
    return index+1;
  } else {
    return startNumber;
  }
}

function link (value, row, index) {
  return "<a href='"+row.link+"' target='_blank'>"+row.link+"</a>"
}
</script>
