/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*body {
   background: white;
   padding-top: 30px;
   padding-left: 50px;
   color: teal;
 }*/

 h1 {
   text-shadow: 0 1px 0 white;
 }

.row.detail-list {
  padding: 40px;
  width: 100%;
}

 .list-item-1 {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 .list-item-1 li {
   color: teal;
   margin: 5px 0 5px 10px;
   text-shadow: 0 1px 0 white;
 }
 .list-item-1 li:before {
   content: '\25ca';
   display: inline-block;
   color: white;
   padding: 2px;
   border-radius: .5px;
   float: left;
   clear: left;
   text-shadow: -1px -1px 0 #b0dbd9;
   margin-left: -10px;
   padding: 2px 10px 0 0;
 }
